# Config file for Travis CI
language: python
python:
  - "2.7"
# Attempt to split the tests into separate
# environments
env:
  - TOOL=trimmomatic PLANEMO_OPTIONS=
  - TOOL=pal_finder PLANEMO_OPTIONS=
  - TOOL=weeder2 PLANEMO_OPTIONS=
  - TOOL=rnachipintegrator PLANEMO_OPTIONS=
  - TOOL=macs21 PLANEMO_OPTIONS=
  - TOOL=ceas PLANEMO_OPTIONS=
  - TOOL=motif_tools PLANEMO_OPTIONS=

before_install:
# Update the list of available packages
  - sudo apt-get -qq update
# Java needed for Trimmomatic
  - "sudo apt-get install java-common"
# Dependencies needed for Galaxy installer
  - sudo apt-get install pwgen
  - sudo apt-get install r-base

install:
# Get the installer scripts
  - "git clone https://github.com/pjbriggs/bioinf-software-install.git"
# Bootstrap Galaxy instance for tests
  - "bioinf-software-install/install_galaxy.sh --repo https://github.com/galaxyproject/galaxy/ --release release_17.09 --bare travis"
# Install planemo
  - "virtualenv planemo_venv"
  - ". planemo_venv/bin/activate"
# Update setuptools before installing planemo
# See https://github.com/galaxyproject/planemo/issues/520
  - "pip install --upgrade pip setuptools"
# Install planemo to do the testing
  - "pip install planemo"

script:
# Use the Galaxy virtualenv
  - ". planemo_venv/bin/activate"
# Run tool tests
  - "tools/$TOOL/run_planemo_tests.sh --galaxy_root travis/galaxy $PLANEMO_OPTIONS"

