#This is a sample file distributed with Galaxy that is used by the
#ceas tool. The ceas.loc file has this format (white space 
#characters are TAB characters):
#
#<dbkey> <Description>	<PathToGdbFile>
#
#For example:
#
#hg18	Human (hg18)	/home/galaxy/genomes/ceaslib/GeneTable/hg18
#mm9	Mouse (mm9)	/home/galaxy/genomes/ceaslib/GeneTable/mm9
#...etc...
#
# The GDB files are sqlite databases containing the RefSeq genes for
# the organism in question
#
#This file should be placed in galaxy's tool-data directory when the
#ceas tool is installed.
