#This is a sample file distributed with Galaxy that is used by the
#rnachipintegrator_histone_mod tool. The file has this format (white space 
#characters are TAB characters):
#
#<Build>	<CellLine/Antibody>	<PathToChIPPeakBedFile>
#
#For example:
#
#hg18	Gm12878/Ctcf	/home/galaxy/genomes/Gm12878Ctcf.bed
#hg18	Gm12878/H3k27ac	/home/galaxy/genomes/Gm12878H3k27ac.bed
#hg18	Gm12878/H3k27me3	/home/galaxy/genomes/Gm12878H3k27me3.bed
#...etc...
#
#The ChIP peak files should contain the chromosome and start and end positions
#defining ChIP peaks.
#
#This file should be placed in galaxy's tool-data directory when the
#rnachipintegrator_histone_mode tool is installed.

