<tables>
    <table name="rnachipintegrator_canonical_genes_legacy" comment_char="#">
        <columns>dbkey, name, value</columns>
        <file path="tool-data/rnachipintegrator_canonical_genes_legacy.loc" />
    </table>
</tables>
