<tables>
    <table name="rnachipintegrator_canonical_genes" comment_char="#">
        <columns>value, dbkey, name, path</columns>
        <file path="tool-data/rnachipintegrator_canonical_genes.loc" />
    </table>
</tables>
